ul
  li.hex
    div
      img.loaded(src=require('img/tools/html5.svg') alt="HTML5" title="HTML5")
      p Clearn markup
  li.hex
    div
      img.loaded(src=require('img/tools/css3.svg') alt="CSS3" title="CSS3")
      p Styles by CSS, not images
  li.hex
    div
      img.loaded(src=require('img/tools/javascript.svg') alt="Javascript" title="Javascript")
      p Rich and interactive
  li.hex
    div
      img.loaded(src=require('img/tools/php.svg') alt="PHP" title="PHP")
      p Reliable backend processing
  li.hex
    div
      img.loaded(src=require('img/tools/mysql.svg') alt="MySQL" title="MySQL")
      p Structured databases
  li.hex
    div
      img.loaded(src=require('img/tools/nodejs.svg') alt="Node.js" title="Node.js")
      p Innovative technology for development and production
  li.hex
    div
      img.loaded(src=require('img/tools/d3.svg') alt="D3.js" title="D3.js")
  li.hex
    div
      img.loaded(src=require('img/tools/angular.svg') alt="Angular" title="Angular")
  li.hex
    div
      img.loaded(src=require('img/tools/google.svg') alt="Google" title="Google")
  li.hex
    div
      img.loaded(src=require('img/tools/facebook.svg') alt="Facebook" title="Facebook")
  li.hex
    div
      img.loaded(src=require('img/tools/twitter.svg') alt="Twitter" title="Twitter")
  li.hex
    div
      img.loaded(src=require('img/tools/aws.svg') alt="Amazon Web Services" title="Amazon Web Services")
